In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
df.shape

(57650, 4)

In [8]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [9]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [10]:
df.head(10)

,artist,song,text
0,Tina Turner,Poor Fool,I want to tell all of you \r\nThat ain't doin...
1,Fabolous,Work Magic Freestyle,[DJ Envy:] \r\nYeah its the peoples choice DJ...
2,Freestyle,Coro - Can't Let You Go,I should have known you'd be this way \r\nSer...
3,Howard Jones,Love's Never Wasted,I remember the day we met \r\nLike a thunderb...
4,Bing Crosby,Blue Room,We'll have a blue room \r\nA new room for two...
5,Little Mix,DNA,Does he tell you he loves you when you least e...
6,Tom Waits,"Please Call Me, Baby",The evening fell just like a star \r\nLeft a ...
7,Devo,34C,34c isn't good enough for me \r\nI need to ha...
8,Wishbone Ash,Number The Brave,In another time and space \r\nYou meet your m...
9,Aerosmith,I Don't Want To Miss A Thing,I could stay awake just to hear you breathing ...

In [11]:
df['text'][0]

"I want to tell all of you  \r\nThat ain't doin' nothin' for me  \r\nAnd can't do nothin' for me  \r\nYou should tend to your business  \r\nAnd leave mine alone  \r\nBecause as far as this man is concerned....  \r\n  \r\nI wanna tell you he's mine  \r\n(You've been a fool too long)  \r\nNow let me tell ya he's mine!  \r\n(Wake up and be strong)  \r\nYeah, yeah, yeah, yeah, yeah, yeah, yeah, yeah, yeah  \r\n(We know how you will feel)  \r\nYeah, yeah, yeah, yeah he's mine  \r\n(But is his love for real?)  \r\n  \r\nI'm gonna shine  \r\n(Oh yeah?)  \r\n'Cause he's my man  \r\n(Says who?)  \r\nAnd he's mine  \r\n(You've been a fool too long)  \r\nNow listen!  \r\n  \r\nThis man of mine is my every thought  \r\nI'd give him Russia if it could be bought  \r\nI'm not ashamed of nothing I do  \r\nI'd guide a missile if he told me to  \r\n'Cause he's mine!  \r\n(Poor Fool!)  \r\nI know he's mine!  \r\n(Says who?)  \r\nThe man is mine!  \r\n(You've been a fool too long)  \r\n  \r\nIf I make my bed hard  \r\nThat's where I'm gonna sleep  \r\nYou people talking means nothing to me  \r\nI work my fingers right down to the bone  \r\nDo anything to please him, right or wrong  \r\n  \r\n'Cause he's mine!  \r\n(Oh no)  \r\nI know he's mine!  \r\n(Oh yeah)  \r\nThe man is mine!  \r\n(You've been a fool too long)  \r\nOh he's mine!  \r\n(Oh no)  \r\nI know he's mine!  \r\n(Oh yeah)  \r\nThe man is mine!  \r\n(You've been a fool too long)  \r\nNow listen!  \r\n  \r\nI'm with my man in every way  \r\nTo keep him happy each and every day  \r\nI'll never hurt him or make him frown  \r\nI'm with my man if he's up or down\r\n\r\n"

In [12]:
df = df.sample(5000)

In [13]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [15]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [16]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [25]:
import sys
print(sys.executable)

c:\Users\VICTUS\AppData\Local\Programs\Python\Python312\python.exe

In [27]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\victus\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\victus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\victus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\victus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\victus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [30]:
similarity[0]

array([1.        , 0.01069004, 0.09338416, ..., 0.01493408, 0.01179781,
       0.07576914])

In [31]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [34]:
def recommendation(song_df):
    song_data = df[df['song'] == song_df]
    if song_data.empty:
        print("Song not found in the dataset.")
        return []  # Or handle it differently, like returning default recommendations

    idx = song_data.index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])

    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)

    return songs

In [35]:
recommendation('Crying Over You')

Song not found in the dataset.

[]

In [36]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [38]:
import pandas as pd
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

# Load the dataset
df = pd.read_csv("spotify_millsongdata.csv")  # Adjust encoding if needed
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

# Text Cleaning/Preprocessing
# df['text'] = df['text'].str.lower().replace(r'[^\w\s]', ' ', regex=True).replace(r'\n', ' ', regex=True)

# Download required NLTK resources
nltk.download('punkt')

# Tokenization function
stemmer = PorterStemmer()
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

df['text'] = df['text'].apply(lambda x: tokenization(x))

# TF-IDF and Cosine Similarity
tfidvector = TfidfVectorizer(analyzer='word', stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

# Recommendation function with error handling
def recommendation(song_df):
    song_data = df[df['song'] == song_df]
    if song_data.empty:
        print("Song not found in the dataset.")
        return []  # Or handle it differently, like returning default recommendations

    idx = song_data.index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])

    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)

    return songs

# Example usage:
recommendations = recommendation('Bang')
if recommendations:
    print("Recommended songs:", recommendations)

# Save similarity matrix and DataFrame (optional)
# pickle.dump(similarity, open('similarity.pkl', 'wb'))
# pickle.dump(df, open('df.pkl', 'wb'))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Song not found in the dataset.

In [39]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))
pickle.dump(df, open('df.pkl', 'wb'))